@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="caption">
    <span class="border">Controlling Portal Site</span>
    <br />
    <span class="border">- by TeamHowTo</span>
</div>

